@model Tankop.Models.Tanks

@{
    ViewData["Title"] = "Compare Tanks";
}

<h1>Compare Tanks</h1>

<div>
    <h4>Tanks</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TankName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TankName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HitPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HitPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ROF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ROF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AimTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AimTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accuracy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accuracy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvgPenetration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvgPenetration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvgDamage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvgDamage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dpm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dpm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HullArmor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HullArmor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TurretArmor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TurretArmor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgSrc)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImgSrc)" />
        </dd>
    </dl>
</div>


@* Second tank to compare *@
@* Still need to figure out the how to link a second, different tank. *@
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TankName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TankName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HitPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HitPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ROF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ROF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AimTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AimTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accuracy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accuracy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvgPenetration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvgPenetration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvgDamage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvgDamage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dpm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dpm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HullArmor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HullArmor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TurretArmor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TurretArmor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgSrc)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImgSrc)" />
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>