@model Tankop.Models.TankCountryView





@{
    Layout = "_Layout";
}



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<style>
    body {
        background-color: gray;
    }
</style>


<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Tanks" asp-action="Index" method="get">
    <p>

        <select asp-for="TankCountry" asp-items="Model.Country">
            <option value="">All Countries</option>
        </select>
        <select asp-for="TankClass" asp-items="Model.Class">
            <option value="">All Classes</option>
        </select>



        @* Need to fix this query item.
            <select asp-for="TankTier" asp-items="Model.Tier">
                <option value="">All Tiers</option>
            </select>*@

        Tank Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
@*<table class="table" style="width:100%; height:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tanks[0].ImgSrc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanks[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanks[0].Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanks[0].Tier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanks[0].TankName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tanks)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImgSrc)" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TankName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>   |
                    <a asp-action="Compare" asp-route-id="@item.Id">Compare</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@


    <div class="row text-center">
        @foreach (var item in Model.Tanks)
        {
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <h2> @Html.DisplayFor(modelItem => item.TankName) </h2>
                    </div>
                    <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImgSrc)" alt="">
                    <div class="card-body">
                        <h5> Class: @Html.DisplayFor(modelItem => item.Class)</h5>
                        <h5> Country: @Html.DisplayFor(modelItem => item.Country) </h5>
                        <h5> Tier: @Html.DisplayFor(modelItem => item.Tier) </h5>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </div>
                </div>
            </div>

        }
    </div>
